body {
  background-color: lightblue;
}

h2 {
  color: black;
  margin-left: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;

h1 {
  color: black;
  margin-left: 20px;
  font-family: 'times new roman'
}

p {
  color: black;
  margin-left: 20px;
  font-family: 'times new roman'
}